
.xmas-bow:before { content: '\e800'; } /* '' */
.xmas-sleigh:before { content: '\e801'; } /* '' */
.xmas-hat:before { content: '\e802'; } /* '' */
.xmas-candy-cane:before { content: '\e803'; } /* '' */
.xmas-snowflake:before { content: '\e804'; } /* '' */
.xmas-reindeer:before { content: '\e805'; } /* '' */
.xmas-ornament-1:before { content: '\e806'; } /* '' */
.xmas-snowman:before { content: '\e807'; } /* '' */
.xmas-present:before { content: '\e808'; } /* '' */
.xmas-snow-globe:before { content: '\e809'; } /* '' */
.xmas-wreath:before { content: '\e80a'; } /* '' */
.xmas-snowflake-1:before { content: '\e80b'; } /* '' */
.xmas-stocking:before { content: '\e80c'; } /* '' */
.xmas-ornament:before { content: '\e80d'; } /* '' */
.xmas-tree:before { content: '\e80e'; } /* '' */
.xmas-santa:before { content: '\e80f'; } /* '' */
.xmas-gingerbread:before { content: '\e810'; } /* '' */
.xmas-mitten:before { content: '\e811'; } /* '' */
.xmas-bell:before { content: '\e812'; } /* '' */
.xmas-shooting-star:before { content: '\e813'; } /* '' */
.xmas-star:before { content: '\e814'; } /* '' */
.xmas-candle:before { content: '\e815'; } /* '' */
.xmas-snowflake-2:before { content: '\e816'; } /* '' */
.xmas-candy:before { content: '\e817'; } /* '' */